:root {
  --main-color: #51b7fc;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: auto;
}

span {
  color: #4f4f4f;
}

a:hover {
    text-decoration: none;
}

.main {
  font-family: "Inter", sans-serif;
  padding: 0;
  max-width: 480px;
  min-height: 100vh;
  background: #fff;
  padding: 100px 0;
  margin: auto;
}

/* Navbar */
nav {
  height: 96px;
}
nav button {
  color: white;
  background-color: var(--main-color);
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  padding: 24px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(0 0 0 / 4%) 0px 2px 4px;
}

/* Button Fundraiser */
.wrapper__fundraiser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 14px;
  gap: 10px;
}
.wrapper__fundraiser .btn {
  width: 336px;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
}

/* Search */
.wrapper__search {
  padding: 20px 24px;
}
.wrapper__search input {
  border: 0;
  color: #bdbdbd;
  padding: 16px;
  width: 431px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.wrapper__search input::placeholder {
  color: #bdbdbd;
  font-style: italic;
}

/* Slider */
.wrapper__slider {
  margin: 7px;
  text-align: center;
}
.slick-slide {
    padding: 0 3px;
}
.slick-slide img {
    /* width: 338px; */
}

/* Service */
.wrapper__service {
  padding: 25px 50px;
}
.wrapper__service span {
  margin-top: 10px;
  font-size: 14px;
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

/* Footer */
.wrapper__footer {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 14px 79px;
  gap: 8px;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  background-color: var(--main-color);
}
.wrapper__footer__menu {
  font-size: 12px;
}

.wrapper__footer__menu .active {
  font-weight: 700;
}
.wrapper__footer__menu span {
  margin-top: 2px;
  color: white;
  display: block;
}
